<!DOCTYPE html>
<html lang="en" class="h-full">

<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qr Checkout</title>
    <link th:href="@{/assets/styles/main.css}" rel="stylesheet" >
    <script th:src="@{/assets/js/show-alert.js}"></script>

</head>

<body class="h-full flex flex-col justify-between bg-slate-100">

<div th:replace="~{structure/header_dashboard :: header_dashboard}"></div>

<div class="p-4 flex gap-4 grow">
    <div th:replace="~{structure/sidebar :: sidebar}"></div>
    <div layout:fragment="content" >
        <p>Default content dashboard</p>
    </div>
</div>

<div th:replace="~{components/alert :: alert(${flash})}"></div>

<div th:replace="~{structure/footer :: footer}"></div>

</body>

</html>
