<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/guest_layout}">
<body>
<main layout:fragment="content" class="flex gap-2 justify-center max-w-2xl mx-auto">
    <a th:href="@{/login}" class="flex flex-col flex-1 group bg-white border border-gray-200 shadow-2xs rounded-xl overflow-hidden hover:shadow-lg focus:outline-hidden focus:shadow-lg transition" >
        <div class="relative pt-[50%] sm:pt-[60%] lg:pt-[80%] rounded-t-xl overflow-hidden">
            <img th:src="@{/assets/images/proffesor.jpg}" class="size-full absolute top-0 start-0 object-cover group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out rounded-t-xl" alt="Proffesor Image">
        </div>
        <div class="p-4 md:p-5">
            <h3 class="text-sm sm:text-lg font-bold text-gray-800 ">
                Login as Proffesor
            </h3>
            <p class="mt-1 text-xs sm:text-base text-gray-500 ">
                Login as Proffesor to get you API key for saving QR codes. The students will be able to get their QR codes via email.
            </p>
        </div>
    </a>
    <a th:href="@{/get-qr}" class="flex flex-col flex-1 group bg-white border border-gray-200 shadow-2xs rounded-xl overflow-hidden hover:shadow-lg focus:outline-hidden focus:shadow-lg transition" >
        <div class="relative pt-[50%] sm:pt-[60%] lg:pt-[80%] rounded-t-xl overflow-hidden">
            <img th:src="@{/assets/images/student.webp}" class="size-full absolute top-0 start-0 object-cover group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out rounded-t-xl" alt="Student Image">
        </div>
        <div class="p-4 md:p-5">
            <h3 class="sm:text-lg text-sm font-bold text-gray-800 ">
                Get Your QR code
            </h3>
            <p class="mt-1 text-xs sm:text-base text-gray-500 ">
                If you are student enter your email and get your QR code for checkin!
            </p>
        </div>
    </a>
</main>
</body>
</html>