<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard_layout}">
<body>
<main layout:fragment="content" class="justify-center grow">
    <div th:if="${user}" class="bg-white flex items-center justify-center shadow-lg rounded-xl p-6 size-full text-center space-y-4">
        <div th:if="${apiKey == null}">
            <form th:action="@{/dashboard/generate-key}" method="post">
                <button type="submit"
                        class="flex items-center gap-2 min-w-28 py-3 px-4 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-key"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M16.555 3.843l3.602 3.602a2.877 2.877 0 0 1 0 4.069l-2.643 2.643a2.877 2.877 0 0 1 -4.069 0l-.301 -.301l-6.558 6.558a2 2 0 0 1 -1.239 .578l-.175 .008h-1.172a1 1 0 0 1 -.993 -.883l-.007 -.117v-1.172a2 2 0 0 1 .467 -1.284l.119 -.13l.414 -.414h2v-2h2v-2l2.144 -2.144l-.301 -.301a2.877 2.877 0 0 1 0 -4.069l2.643 -2.643a2.877 2.877 0 0 1 4.069 0z" /><path d="M15 9h.01" /></svg>
                    Get Key
                </button>
            </form>
        </div>
        <div th:if="${apiKey}" class="w-full max-w-md mx-auto">
            <div class="p-6 border rounded-xl shadow bg-gray-50">
                <h2 class="flex gap-4 justify-center text-lg font-semibold text-slate-600 mb-2">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-key"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M16.555 3.843l3.602 3.602a2.877 2.877 0 0 1 0 4.069l-2.643 2.643a2.877 2.877 0 0 1 -4.069 0l-.301 -.301l-6.558 6.558a2 2 0 0 1 -1.239 .578l-.175 .008h-1.172a1 1 0 0 1 -.993 -.883l-.007 -.117v-1.172a2 2 0 0 1 .467 -1.284l.119 -.13l.414 -.414h2v-2h2v-2l2.144 -2.144l-.301 -.301a2.877 2.877 0 0 1 0 -4.069l2.643 -2.643a2.877 2.877 0 0 1 4.069 0z" /><path d="M15 9h.01" /></svg>
                    Your API Key
                </h2>
                <div class="flex items-center justify-between bg-white border border-gray-300 rounded-md px-4 py-2">
                    <code th:text="${apiKey}" id="api-key-input" class="text-sm text-gray-700 truncate w-5/6"></code>
                    <button id="copy-button" type="button"
                            class="ml-2 text-xs font-medium text-blue-600 hover:underline focus:outline-none">
                        Copy
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        const copyButton = document.querySelector("#copy-button")

        if(copyButton){
            copyButton.addEventListener("click",()=>{
                const apiKey = document.querySelector("#api-key-input")

                if(apiKey){
                    copyButton.innerHTML = "Copied!"
                    setTimeout(() => {copyButton.innerHTML = "Copy"},1000)
                    navigator.clipboard.writeText(apiKey.innerText)
                }

            })
        }
    </script>
</main>

</body>
</html>